.wrapper-navigation {
    @apply fixed bg-white w-full h-full left-0 z-40;
}

.navigation-header {
    @apply w-full px-10 pt-10 absolute flex justify-start;
}

.navigation-body-outer {
    height: calc(100% - 180px);
    @apply w-full px-4 pt-[20px] pb-[10px] mt-[180px] overflow-y-auto z-50;
}

.navigation-body-inner {
    @apply w-full flex flex-col lg:flex-row;
}

.navigation-body-main {
    min-width: calc(75% - 50px);
    @apply mr-[33px] flex justify-between;
}

.navigation-body-side {
    min-width: calc(25% - 50px);
    @apply lg:border-l-[1px] lg:border-line lg:pl-5 lg:pb-5;
}

.facebook-icon li:nth-of-type(2) a {
    @apply w-[10px] !important;
}

/* Side Navigation */

.side-navigation {
    @apply pb-[50px];
}

.side-navigation ul .menu-item {
    @apply mb-[6px] leading-[130%] ;
}

.side-navigation ul .menu-item a {
    @apply text-[13px] capitalize border-b-1 border-secondary-blue-transparent text-secondary-blue leading-4 hover:text-red-hover hover:border-red-hover transition-all duration-200 ease-in-out;
}

.side-navigation ul .current-menu-item a {
    @apply border-0 text-primary hover:text-primary pointer-events-none;
}