.content .custom-max {
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .content .custom-max {
        max-width: calc(66.666% - 20px);
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .content .custom-max {
        max-width: calc(50% - 20px);
        margin: 0 auto;
    }
}

.content p {
    @apply font-mercury mb-5 md:mb-[25px] leading-[176%] max-w-full md:max-w-two-thirds lg:max-w-half mx-auto;
}

.content p a {
    @apply text-secondary-blue border-b-1 border-secondary-blue-transparent pb-[2px] font-mercury;
}

.content .has-large-font-size {
    @apply text-[17px] md:text-[19px] lg:text-[25px] leading-[166%] !important;
}

.content .has-drop-cap {
    @apply first-letter:text-8xl first-letter:float-left first-letter:text-secondary-brown-darker first-letter:leading-[69%] first-letter:tracking-widest first-letter:font-semibold first-letter:mr-[10px];
}

.content em {
    @apply leading-[176%];
}

.content strong {
    @apply font-bold;
}

.content h2 {
    @apply text-primary font-mercury text-[32px] tracking-tight leading-[132%] mb-[30px] lg:max-w-full md:max-w-two-thirds max-w-half mx-auto;
}

.content h2.has-large-font-size {
    font-variant: small-caps;
    @apply font-semibold leading-[108%] max-w-full md:max-w-two-thirds lg:max-w-half mx-auto text-[32px] !important;
}

.content h3 {
    @apply text-[17px] uppercase font-medium tracking-wider leading-[140%] mb-[30px] max-w-full md:max-w-two-thirds lg:max-w-half mx-auto;
}

.content .wp-block-image {
    @apply mb-10 max-w-full md:max-w-two-thirds lg:max-w-half mx-auto;
}

.content .wp-block-image img {
    @apply rounded-lg;
}

.content .wp-block-image figcaption {
    @apply my-[10px] text-left max-w-[615px] text-[13px];
}

.content blockquote {
    @apply mb-[30px] pl-[30px] border-l-[3px] border-secondary-brown-darker max-w-full md:max-w-two-thirds lg:max-w-half mx-auto;
}

.content blockquote p {
    @apply m-0 italic max-w-full;
}

.content blockquote cite {
    @apply text-secondary-brown-darker font-medium leading-[132%] uppercase text-[11px] not-italic;
}

.content .wp-block-pullquote {
    @apply py-0 mt-[60px] mb-20 max-w-full md:max-w-two-thirds lg:max-w-half mx-auto;
}

.content .wp-block-pullquote blockquote {
    @apply border-l-4 pl-10 flex flex-col max-w-full;
}

.content .wp-block-pullquote blockquote p {
    @apply text-left mb-[30px] leading-[176%] text-[25px] max-w-full;
}

.content .wp-block-pullquote blockquote cite {
    @apply text-left;
}

.content .wp-block-file {
    @apply relative max-w-full md:max-w-two-thirds lg:max-w-half mx-auto;
}

.content .wp-block-file a {
    @apply text-secondary-blue border-b-1 border-secondary-blue-transparent pb-[2px] font-mercury;
}

.content h3 a {
    @apply text-[17px] uppercase font-medium tracking-wider leading-[140%] mb-[30px] text-secondary-blue border-b-1 border-secondary-blue-transparent max-w-full md:max-w-two-thirds lg:max-w-half mx-auto;
}

.content .wp-block-separator {
    @apply mx-auto mb-10 max-w-[154px] w-[60%] bg-line;
}

.content .wp-block-buttons {
    @apply mb-[30px] max-w-full md:max-w-two-thirds lg:max-w-half mx-auto;
}

.content .wp-block-buttons .wp-block-button {
    @apply max-w-full md:max-w-two-thirds lg:max-w-half mx-auto;
}

.content .wp-block-buttons .wp-block-button .wp-block-button__link {
    @apply rounded-[100px] !important;
    @apply text-secondary-blue border-2 border-secondary-blue py-[18.5px] px-[25px] bg-white text-[13px] font-medium leading-[120%] text-center hover:bg-secondary-blue hover:text-white transition-all duration-200 ease-in-out;
}

.content .wp-block-gallery {
    @apply w-full;
}

.content .wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image) {
    margin: 0 0.75rem 0.75rem 0;
    width: calc(50% - 1.5rem);
}

.content .wp-block-columns {
    @apply mb-[30px] mx-auto gap-0 !important;
}

.content .wp-block-columns .wp-block-column {
    @apply w-1/4 !important;
}

.content .wp-block-columns .wp-block-column .wp-block-image {
    @apply max-w-full mx-4 mb-0 block !important;
}

.content .wp-block-columns .wp-block-column .wp-block-image a {
    @apply flex items-center;
}

.content .wp-block-columns .wp-block-column .wp-block-image a img {
    @apply mx-auto w-20 mb-[10px];
}

.content .wp-block-columns .wp-block-column .wp-block-image figcaption {
    @apply text-center;
}

.content .wp-block-columns .wp-block-column .wp-block-image figcaption a {
    @apply text-center inline font-mercury text-[16px] font-bold border-b-1 border-secondary-blue-transparent transition-all duration-200 ease-in-out text-secondary-blue leading-[176%];
}

.content .wp-block-group {
    @apply mb-[30px];
}

.content .wp-block-group figure {
    @apply flex justify-center mb-5;
}

.content .wp-block-group figure img {
    @apply w-[85px];
}

.content .wp-block-group h2 {
    @apply mb-[30px] text-center;
}

.content .wp-block-cover {
    @apply mb-[95px] h-[653px] pt-[30px] pb-[65px] flex items-end rounded-2xl overflow-hidden;
}

.content .wp-block-cover .wp-block-cover__background {
    background: linear-gradient(1turn,rgba(0,3,13,.85) 1.02%,rgba(0,3,13,0));
    @apply opacity-[0.85] !important;
}

.content .wp-block-cover .wp-block-cover__inner-container {
    @apply w-full !important;
}

.content .wp-block-cover .wp-block-cover__inner-container p {
    font-variant: small-caps;
    @apply font-mercury text-[54px] font-semibold leading-[108%] tracking-tight mb-0 !important;
}

.content ul {
    @apply mb-[25px] max-w-full md:max-w-two-thirds lg:max-w-half mx-auto pl-5;
}

.content ul li {
    @apply mb-[15px] list-disc;
}

.content ul li ul {
    @apply mt-[15px] max-w-full;
}

.content ul li ul li {
    @apply mb-[15px] list-[circle];
}

/* Home Page content */
.home-content ul {
    @apply pl-5;
}

.home-content ul li {
    @apply py-[5px] mb-5 relative text-[13px] font-medium leading-[156%];
}

.home-content ul li a {
    @apply border-b-1 border-transparent transition-all duration-200 ease-in-out hover:text-red-hover hover:border-red-hover before:content-[''] before:bg-secondary-brown-darker before:h-full before:w-[3px] before:top-0 before:-left-5 before:absolute;
}