.title-blue {
    font-variant: small-caps;
    @apply leading-[108%] text-[31px] md:text-[34px] lg:text-xxl text-primary font-mercury font-semibold text-center;
}

.title-white {
    font-variant: small-caps;
    @apply leading-[108%] text-[44px] text-white font-mercury font-semibold text-center;
}

.link-hover {
    @apply uppercase text-xxs text-secondary-blue hover:text-red-hover transition-all duration-200 ease-in-out border-b border-transparent hover:border-red-hover;
}

.font-variant {
    font-variant: small-caps;
}